

stable-baselines3[extra]
tensorflow~=2.12.1

gym==0.26.0
tensorboardX

numpy~=1.26.4
matplotlib~=3.8.4
gymnasium~=0.29.1
pandas~=2.2.1
setuptools~=69.5.1
yfinance~=0.2.36
pytz~=2024.1
tqdm~=4.66.2
keras~=2.10.0
torch~=2.2.2
seaborn~=0.12.2